* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  body {
    background-color: rgb(247, 247, 247);
  }
  
  .header-container {
    background-color: #5C687C;
    display: flex;   
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    flex-basis: 268px;    
  }
  
  .menu-container {
    display: flex;
    flex-basis: 500px;
  }
  
  .menu-container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: center;
  }
  
  .menu-container li {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;    
  }
  .header-container > .logo-container:nth-child(2){
      order:-1;
  }
  .header-container > .menu-container:nth-child(1){
    order:1;
    flex-grow: 1;    
}