
   h1{
        color: orange;
        font-size: 65px;
        font-family: sans-serif, Helvetica;
    }
    p{
        font-weight: 600;
        font-size: 3em;
    }
    body{
        font-size: 16px;
    }
    .style-color{
      background-color: paleturquoise;
    }
    #color-yellow{
      background-color: yellow;
    }
    #color-red{
      background-color:red;
    }
    #color-brown{
      background-color:brown;
    }
    li{
      font-style: italic;
      line-height:60px;
      text-align:center;
      text-decoration: underline;
      font-size: 2em;

    }
 